body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
}

header {
  display: flex;
  justify-content: center;
}

main .calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0px 10px 0px 10px;
  /* percentage is dynamic so is em (somewhat I'm not sure) */
  width: 6em;
  height: 8em;
  font-size: 3em;
  border: 5px solid black;
}

.calculator .output-bar {
  border: 2px solid blue;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  display: grid;
  justify-content: end;
  padding-right: 10px;
}

.calculator .operator, .digit{
  border: 1.5px solid green;
  display: grid;  
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

#informational {
  padding: 0 1em 1em 1em;
  margin: 2em 0 0 0;
  width: 50%;
  border: 0.2em solid black
}

.button {
  margin: 30px auto 20px auto;
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
}

.more-info {
  margin: 10px 0 0 0;
  padding: 5px;
  font-size: 1em;
}