body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
}

header {
  display: flex;
  justify-content: center;
}

main .calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0px 10px 0px 10px;
  /* percentage is dynamic so is em (somewhat I'm not sure) */
  width: 6em;
  height: 8em;
  font-size: 4em;
  border: 5px solid black;
}

.calculator .output-bar {
  border: 2px solid blue;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  display: grid;
  justify-content: end;
  padding-right: 10px;
}

.calculator .operator, .digit{
  border: 1.5px solid green;
  display: grid;  
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
